	wget https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-7.17.10-x86_64.rpm
      wget https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-7.17.10-x86_64.rpm.sha512 shasum -a 512 -c elasticsearch-7.17.10-x86_64.rpm.sha512
       rpm --install elasticsearch-7.17.10-x86_64.rpm
       systemctl demon-reload
       systemctl enable elasticsearch.service
       systemctl enable elasticsearch.service


network.host: 172.31.46.149
http.port: 9200
discovery.seed_hosts: 172.31.46.149


{
  "name" : "ip-172-31-46-149.ap-northeast-1.compute.internal",
  "cluster_name" : "elasticsearch",
  "cluster_uuid" : "IHWPZc6TTWKRHfj67Za84Q",
  "version" : {
    "number" : "7.17.10",
    "build_flavor" : "default",
    "build_type" : "rpm",
    "build_hash" : "fecd68e3150eda0c307ab9a9d7557f5d5fd71349",
    "build_date" : "2023-04-23T05:33:18.138275597Z",
    "build_snapshot" : false,
    "lucene_version" : "8.11.1",
    "minimum_wire_compatibility_version" : "6.8.0",
    "minimum_index_compatibility_version" : "6.0.0-beta1"
  },
  "tagline" : "You Know, for Search"
}